# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and dependency files
.env
*.env
*.DS_Store

# Logs and debug files
*.log
*.sqlite3

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
*.cover
*.coverage
*.coverage.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
